// See: https://sass-lang.com/
@mixin inFrontMap{
  position: relative;
  z-index: 100;
}

$primaryBackground:  hotpink;
$primaryFontColor: WHITE;
$transparantBackground: rgba(0, 0, 0, 0.4);
$primaryFontStyle: 'Source Sans Pro', sans-serif;
// $accentColor: ;
$accentFontStyle: 'Bebas Neue', cursive;

html {
  height: 100%;
  margin: 0;
  padding: 0;
};

body {
  height: 100%;
  width: 100%;
  line-height: 1;
  #map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  #mainframe {
    display: flex;
    height: 100%;
    width: 100%;


    #left {
      flex-grow: 1.5;

      nav {
        @include inFrontMap();
        // display:flex;
        // justify-content: space-between;
        // align-items: center;
        margin: 10vh 60px 10px 60px;
        padding: 10px;
        width: 250px;
        border-radius: 25px;
        background:$transparantBackground;
        color: $primaryFontColor;
        font-family: $primaryFontStyle;


        button {
          margin-left: 10px;
          padding: 0px;

          .bar1, .bar2, .bar3 {
            width: 20px;
            height: 2px;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
          }

          .change .bar1 {
            /* -webkit-transform: rotate(-45deg) ; */
            transform: rotate(-45deg) translate(-3px, -1px) ;
          }

          .change .bar2 {
            width: 25px;
            transform: translate(2px, 0px);
          }

          .change .bar3 {
            /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
            transform: rotate(45deg) translate(-3px, 1px);
          }
        }

        // button {
        //   border: 1px solid red($color: #000000);
        // }
        #brand-container {
          display: flex;
          flex-direction: row;
          margin-right: 1em;
          justify-content: space-around;
          cursor: pointer;
          &:hover {
            // border: 2px solid gray;
            border-radius: 10px;
          }

          #brand-img {
            margin-right: 3px ;
            margin-top: 1px;
          }

          #name {
            // margin-top: 3px;
            margin-bottom: 0px;
            font-family: 'Bungee';
            font-size: 175%;
          }
        }
      }

      .menu {
        @include inFrontMap();
        width: 250px;
        margin-left: 60px;
        background:$transparantBackground;
        color: $primaryFontColor;
        border-radius: 20px;
        list-style: none;
        text-align: center;
        font-family: $primaryFontStyle;

        form  {
          padding: 10px;
          .container {
            display: inline-block;
            cursor: pointer;
          }
          .form-control {
            padding: 0;
          }
        }
        .btn-primary {
          margin: 0.5em auto 1em auto;
          font-family: $accentFontStyle;
        }
        a {
          padding: 8px;
          text-decoration: none;
          font-size: 25px;
          color: $primaryFontColor;
          display: block;
          transition: 0.3s;
          &:hover {
            transform: skewX(-15deg);
          }
        }

      }
    }

    #middle {
      flex-grow: 4;

      .maps-container {
        @include inFrontMap();
        margin-top: 100px;
        width: 750px;
        overflow: scroll;
        height: 700px;
        padding-right: 20px;
        transition: 0.5s;
        font-family: $primaryFontStyle;
        h1 {
          text-align: center;
          font-family: $accentFontStyle;
          color: black
        }

        .popular-maps {
          background:$transparantBackground;
          border-radius: 25px;
          color: $primaryFontColor;
          margin-bottom: 20px;
          &:hover {
            background-color:  rgba(0, 0, 0, 0.6);
          }

          header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            padding-bottom: 0px;
            font-size: 18px;
            .map-title {
              font-weight: bold;
              letter-spacing: 2px;
              font-family: $accentFontStyle;
              font-size: 30px;
              margin-bottom: 0;
            }
          }

          .map-body {
            display: flex;
            align-items: center;
            margin: 5px;

            img {
              height:100px;
              width:100px;
              margin-left: 10px;
              margin-bottom: 10px;
            }

            .map-description {
              margin: 10px;
              font-size: 20px;
            }
          }

          footer {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 10px;
            // span {
            //   display: flex;
            //   flex-direction: row;
            //   border: 1px solid red;
            // }
          }
        }
      }
    }

    #right {
      flex-grow: 1;
      .sidenav {
        height: 700px;
        width: 0;
        position: fixed;
        z-index: 100;
        margin-top: 100px;
        right: 2%;
        overflow-x: hidden;
        transition: 0.5s;
        overflow: scroll;

        h1 {
          font-family: $accentFontStyle;
          text-align: center;
          color:black

        }

        .create-Map {
          background-color: $transparantBackground;
          border-radius: 25px;
          height: 650px;
          width: 300px;
          &:hover {
            background-color:  rgba(0, 0, 0, 0.6);
          }

          #closebtn {
            text-align: right;
          }

          .user-map-input {
            label {
              color: $primaryFontColor;
              word-wrap: normal;
              font-family: $accentFontStyle;
              font-size: 20px;
            }
            .start-button {
              font-family: $accentFontStyle;
            }

            .form-control {
              width: 200px;
              margin: 1px auto 5em auto
            }
          }

          a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $primaryFontColor;
            display: block;
            transition: 0.3s;
            &:hover {
              transform: skewX(-15deg);
            }
          }
        }
      }
      .sidenav2 {
        height: 700px;
        width: 0;
        position: fixed;
        z-index: 100;
        margin-top: 100px;
        right: 2%;
        overflow-x: hidden;
        transition: 0.5s;
        overflow: scroll;

        h1 {
          font-family: $accentFontStyle;
          text-align: center;
          color:black

        }

        .create-Map2 {
          background-color: $transparantBackground;
          border-radius: 25px;
          height: 650px;
          width: 300px;
          &:hover {
            background-color:  rgba(0, 0, 0, 0.6);
          }

          #closebtn2 {
            text-align: right;
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $primaryFontColor;
            display: block;
            transition: 0.3s;
            &:hover {
              transform: skewX(-15deg);
            }
          }
          .user-map-input2 {
            label {
              color: $primaryFontColor;
              word-wrap: normal;
              font-family: $accentFontStyle;
              font-size: 20px;
            }
            #pin-submit {
              font-family: $accentFontStyle;
              width: 100px;
            }

            .form-control2 {
              width: 200px;
              margin: 1px auto 3em auto
            }
          }
            #pac-input {
            background-color: #fff;
            font-weight: 300;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 200px;
            margin: 1px auto 3em auto
          }
          a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $primaryFontColor;
            display: block;
            transition: 0.3s;
            &:hover {
              transform: skewX(-15deg);
            }
          }
        }


        // #pins-display {
        //   @include inFrontMap();
        //   margin-top: 100px;
        //   height: 700px;
        //   width: 300px;
        //   margin: 5px;
        //   overflow: scroll;
        //   transition: 0.5s;
        //   font-family: $accentFontStyle;
        // }

        //   .pin-info{
        //     background: $transparantBackground;
        //     border-radius: 25px;
        //     color: $primaryFontColor;
        //     margin-bottom: 20px;
        //     &:hover {
        //       background-color:  rgba(0, 0, 0, 0.6);
        //     }

        //     .pin-body {

        //       img {
        //         height:100px;
        //         width:100px;
        //         margin-left: 10px;
        //         margin-bottom: 10px;
        //       }
        //     }
        //   }



      }
    }
  }
};
