html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

body #map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

body #mainframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

body #mainframe #left {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}

body #mainframe #left nav {
  position: relative;
  z-index: 100;
  margin: 10vh 60px 10px 60px;
  padding: 10px;
  width: 250px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.4);
  color: WHITE;
  font-family: "Source Sans Pro", sans-serif;
}

body #mainframe #left nav button {
  margin-left: 10px;
  padding: 0px;
}

body #mainframe #left nav button .bar1, body #mainframe #left nav button .bar2, body #mainframe #left nav button .bar3 {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body #mainframe #left nav button .change .bar1 {
  /* -webkit-transform: rotate(-45deg) ; */
  -webkit-transform: rotate(-45deg) translate(-3px, -1px);
          transform: rotate(-45deg) translate(-3px, -1px);
}

body #mainframe #left nav button .change .bar2 {
  width: 25px;
  -webkit-transform: translate(2px, 0px);
          transform: translate(2px, 0px);
}

body #mainframe #left nav button .change .bar3 {
  /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
  -webkit-transform: rotate(45deg) translate(-3px, 1px);
          transform: rotate(45deg) translate(-3px, 1px);
}

body #mainframe #left nav #brand-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

body #mainframe #left nav #brand-container:hover {
  border-radius: 10px;
}

body #mainframe #left nav #brand-container #brand-img {
  margin-right: 3px;
  margin-top: 1px;
}

body #mainframe #left nav #brand-container #name {
  margin-bottom: 0px;
  font-family: 'Bungee';
  font-size: 175%;
}

body #mainframe #left .menu {
  position: relative;
  z-index: 100;
  width: 250px;
  margin-left: 60px;
  background: rgba(0, 0, 0, 0.4);
  color: WHITE;
  border-radius: 20px;
  list-style: none;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

body #mainframe #left .menu form {
  padding: 10px;
}

body #mainframe #left .menu form .container {
  display: inline-block;
  cursor: pointer;
}

body #mainframe #left .menu form .form-control {
  padding: 0;
}

body #mainframe #left .menu .btn-primary {
  margin: 0.5em auto 1em auto;
  font-family: "Bebas Neue", cursive;
}

body #mainframe #middle {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

body #mainframe #middle .maps-container {
  position: relative;
  z-index: 100;
  margin-top: 100px;
  width: 750px;
  overflow: scroll;
  height: 700px;
  padding-right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Source Sans Pro", sans-serif;
}

body #mainframe #middle .maps-container h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: black;
}

body #mainframe #middle .maps-container .popular-maps {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  color: WHITE;
  margin-bottom: 20px;
}

body #mainframe #middle .maps-container .popular-maps:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

body #mainframe #middle .maps-container .popular-maps header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-bottom: 0px;
  font-size: 18px;
}

body #mainframe #middle .maps-container .popular-maps header .map-title {
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  margin-bottom: 0;
}

body #mainframe #middle .maps-container .popular-maps .map-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

body #mainframe #middle .maps-container .popular-maps .map-body img {
  height: 100px;
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
}

body #mainframe #middle .maps-container .popular-maps .map-body .map-description {
  margin: 10px;
  font-size: 20px;
}

body #mainframe #middle .maps-container .popular-maps footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 10px;
}

body #mainframe #right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body #mainframe #right .sidenav {
  height: 700px;
  width: 0;
  position: fixed;
  z-index: 100;
  margin-top: 100px;
  right: 2%;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: scroll;
}

body #mainframe #right .sidenav h1 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: black;
}

body #mainframe #right .sidenav .create-Map {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  height: 650px;
  width: 300px;
}

body #mainframe #right .sidenav .create-Map:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

body #mainframe #right .sidenav .create-Map #closebtn {
  text-align: right;
}

body #mainframe #right .sidenav .create-Map .user-map-input label {
  color: WHITE;
  word-wrap: normal;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

body #mainframe #right .sidenav .create-Map .user-map-input .start-button {
  font-family: "Bebas Neue", cursive;
}

body #mainframe #right .sidenav .create-Map .user-map-input .form-control {
  width: 200px;
  margin: 1px auto 5em auto;
}

body #mainframe #right .sidenav .create-Map #pac-input {
  background-color: #fff;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: auto;
}

body #mainframe #right .sidenav .create-Map a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: WHITE;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #mainframe #right .sidenav .create-Map a:hover {
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}
/*# sourceMappingURL=layout.css.map */