// See: https://sass-lang.com/
$primaryBackground:  white;
$primaryFontColor: black;
// $primaryFontStyle: ;
// $accentColor: ;
// $accentFontStyle: ;



body {
  background-color: $primaryBackground;

  h1 {
    color: #e43bcb;
  }
}
