// See: https://sass-lang.com/
@mixin inFrontMap{
  position: relative;
  z-index: 100;
}

$primaryBackground:  hotpink;
$primaryFontColor: WHITE;
$transparantBackground: rgba(0, 0, 0, 0.4);
// $primaryFontStyle: ;
// $accentColor: ;
// $accentFontStyle: ;

html {
  height: 100%;
  margin: 0;
  padding: 0;
};

body {

  #map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  #mainframe {
    display: flex;
    height: 100%;
    width: 100%;

    #left {
      flex-grow: 1;

      nav {
        @include inFrontMap();
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px;
        margin-bottom: 10px;
        padding: 10px;
        width: 300px;
        background:$transparantBackground;
        color: $primaryFontColor;
        border-radius: 25px;

        button {
          border: none;
          height: 30px;
          width: 30px;
          background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=FFFFFF');
          margin-left: 10px;
        }

        .logo {
          margin-right: 10px;
        }
      }

      .menu {
        @include inFrontMap();
        width: 300px;
        margin-left: 60px;
        background:$transparantBackground;
        color: $primaryFontColor;
        border-radius: 20px;
        list-style: none;
        form  {
          padding: 2em;
        }
      }
    }

    #middle {
      flex-grow: 4;

      .maps-container {
        @include inFrontMap();
        margin-top: 100px;
        width: 750px;
        overflow: scroll;
        height: 700px;
        padding-right: 20px;

        .popular-maps {
          background:$transparantBackground;
          border-radius: 25px;
          color: $primaryFontColor;
          margin-bottom: 20px;
          &:hover {
            background-color: black;
          }

          header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            padding-bottom: 0px;
            .map-title {
              font-weight: bold;
            }
          }

          .map-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px;

            img {
              height:100px;
              width:100px;
              margin-left: 10px;
              margin-bottom: 10px;
            }

            .map-description {
              margin: 10px;
            }
          }

          footer {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 10px;
          }
        }
      }
    }

    #right {
      flex-grow: 1;
    }

  }

};
